* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
  color: crimson;
  margin: 40px 0;
  text-align: center;
  font-family: monospace;
}

@media print {
  .title {
    color: steelblue;
    font-size: 5rem;
    text-align: right;
    font-family: cursive;
  }
}

/* 0px a 600px */
@media screen and (max-width:600px) {
  .title {
    background: #000;
    color: #fff;
  }
}