* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-evenly;
}

.container {
  width: 70%;
  height: 300px;
  margin: 30px auto;
  /* background: rgb(100, 100, 250); */
  background-color: rgb(100, 100, 250);
  background-image: url(img/goku2.png);
  background-repeat: no-repeat;
  /* background-position: 10px 100px; */
  /* background-position: top right; */
  background-position: center;
  /* background-size: 100% 100%; */
  background-size: contain;
}

.attachment {
  width: 40%;
  height: 400px;
  margin-top: 40px;
  background-image: url(img/fondo1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

.fixed {
  background-attachment: fixed;
}

.space {
  height: 3000px;
}