* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  display: block;
  width: 400px;
  height: 400px;
  margin: 80px auto;
  border: 20px groove brown;
  object-fit: cover;
  border-radius: 50%;
}

.box {
  background: orangered;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid black;
}